{% extends 'index.html' %}
{% load static %}

{% block site_title %}
    News - Homepage
{% endblock %}

{% block content %}
    <div>
    {% for new in news %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <p class="card-text">{{ new.content }}</p>
                <small>
                    {{ new.user.first_name }}
                    {{ new.user.last_name }}
                </small>
                <a href="{% url 'details' new.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}